/* Fondo general */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
}

/* Centrar contenido */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Tarjeta principal */
.card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  max-width: 700px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

/* Nombre */
.card h1 {
  margin-bottom: 5px;
  color: #1e3c72;
}

/* Subtítulo */
.card h3 {
  margin-top: 30;
  color: #555;
  
}

/* Texto */
.card p {
  color: #444;
  line-height: 1.6;
}

/* Skills */
.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

/* Cada skill */
.skills li {
  background: #1e3c72;
  color: white;
  padding: 8px 15px;
  border-radius: 20px;
  font-size: 14px;
  transition: 0.3s;
}

/* Hover bonito */
.skills li:hover {
  background: #2a5298;
  transform: scale(1.05);
}